#title{
background-color: rgb(188, 225, 188);
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family:'Roboto Mono',sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

h2{
  color: white;
  font-family: 'Montserrat';
  font-size: 1.5;
  font-weight: bold;
}

h3{
  font-family: 'Roboto Mono';
  font-weight: bold;
  color: rgb(255, 255, 255);
}

p{
  color: #ffffff;
  font-family:'Roboto Mono';
}

.leftalign{
  text-align: left;
}


.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family:'Roboto Mono';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-family: 'Roboto Mono';
  font-size: 1.2rem;
}

.download-button{
  margin:5% 3% 5% 0;
}

.btn-right{
  margin-left: 250px;
  margin-top: 100px;
  position: relative;
}

.btn-font{
  font-family: 'Roboto Mono';
  margin-top: 100px;
  margin-left: 150px;
}

.cap{
  font-family: 'Roboto Mono';
  color: #ffffff;
}

.title-image{
  width: 74%;
    
    position: absolute;
}

#features{
  padding: 7% 15%;
  background-color: rgb(120, 161, 132);
  z-index: 1;
  position: relative;
}
#resume{
  padding: 7% 15%;
  background-color: rgb(120, 161, 132);
  z-index: 1;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: plum;
  margin-bottom: 1rem;
}

.icon:hover{
  color:lightgreen
}

#testimonials{
  padding:7% 15%;
  text-align: center;
  background-color: rgb(69, 95, 69);
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width:20%;
  margin:20px;
}

#press{
  background-color: lightgreen;
  text-align: center;
}

.press-logo{
  width:10%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 100px;
  text-align: center;
  background-color: rgb(120, 161, 132);
}

.pricing-header{
  color: black;
  font-family: 'Montserrat';
}
.pricing-column{
  padding: 3% 2%;
}

#cta{
  font-family: 'Roboto Mono';
  background-color: rgb(188, 225, 188);
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family:'Roboto Mono';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;

}

#footer{
  padding:7% 15%;
  text-align: center;
  background-color: rgb(188, 206, 189);
}

.social-icon{
  margin:20px 10px;
}

.card-header{
  background-color: plum;
  outline-width: 2;
  outline-color: black;
}

.tan{
  background-color: blanchedalmond;
}


@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform:rotate(0);

  }
}